@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

#root {
  @apply bg-bun text-patty;
  font-family: 'Roboto', sans-serif;
}

.menu {
  @apply grid;
  grid-template-columns: 85vw 15vw;
  height: calc(100vh - 142px);
}

.search {
  height: calc(100vh - 142px);
}

figure {
  @apply border border-lightpatty grid h-[250px] place-content-center rounded;
  background-image: radial-gradient(circle, var(--lightketchup), var(--ketchup));
}

.shakes {
  @apply border-none;
  background-image: none;
}
